@use 'variaveis'

@mixin center
    display: flex
    align-items: center
    justify-content: center

@mixin around
    display: flex
    align-items: center
    justify-content: space-around

@mixin column
    display: flex
    justify-content: center
    flex-direction: column

@mixin icons
    background-color: variaveis.$background-color
    color: variaveis.$ft-color
    box-shadow: variaveis.$text-shadow
    font-size: 30px
    padding: 15px
    margin: 30px 15px 30px 0
    border-radius: 50%
    font-weight: 100
    text-align: center
    cursor: pointer
    transition: 0.5s ease

@mixin titulo
    margin-bottom: 20px
    font-weight: 700
    font-size: 56px
    color: variaveis.$strong-color
    text-shadow: variaveis.$text-shadow

@mixin animacao
    border-radius: 180%
    padding: 20px
    text-align: center

@mixin linha
    margin-bottom: 50px
    border: 2px solid #fff
    width: 100%
    opacity: 0.2

@mixin projeto
    background-color: variaveis.$background-color-paginas
    border: 4px solid variaveis.$background-color-paginas
    width: 300px
    height: 320px
    margin-bottom: 100px
    border-radius: 20px
    box-shadow: -5px -5px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0, 0, 0,0.35 ), inset -5px -5px 15px rgba(255, 255, 255,0.1), inset 5px 5px 15px rgba(0, 0, 0,0.35 )

@mixin box-projetos
    width: 250px
    height: 150px
    border-radius: 10px

@mixin projetos-fotos
    background-repeat: no-repeat
    background-size: cover
    background-position: center center

@mixin fundo-descritivo
    width: 250px
    height: 200px
    border-radius: 16px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(9.4px)
    -webkit-backdrop-filter: blur(9.4px)
    border: 1px solid rgba(255, 255, 255, 0.15)
    opacity: 0
    transition: .5s ease

@mixin link
    display: flex
    flex-direction: column
    text-align: center
    padding: 10px

@mixin titulo-projeto
    margin-bottom: 10px
    margin-top: 10px
    font-weight: 700
    font-size: 25px
    color: variaveis.$strong-color
    text-shadow: variaveis.$text-shadow

@mixin linkprojeto
    color: variaveis.$strong-color
    text-decoration: none
    font-size: 50px
    margin-top: 10px
    transition: .5s ease

@mixin linkprojeto-hover
    text-shadow: variaveis.$text-shadow
    color: variaveis.$github-color

@mixin linkdeploy-hover
    text-shadow: variaveis.$text-shadow
    color: variaveis.$deploy-color

@mixin logo-habilidade
    font-size: 25px
    margin-left: 25px