$background-color: #405743
$background-hover: #152d3f
$cabecalho-hover: #51413e
$ft-color: #e2e9ff
$strong-color: #e1e1e6
$text-shadow: 0 4px 4px rgba(0, 0, 0, .75)
$weight-text: 600
$size-logo: 45px
$font-basic: 25px
$font-desc: 15px

/* como chamar uma variable = background-color: variables.$bg-color */