$background-color: #561C1A
$background-color-paginas: #231816
$background-navbar: rgb(35, 24, 22)
$background-hover: #152d3f
$cabecalho-hover: #51413e
$ft-color: #F8D29D
$strong-color: #DEC087
$instagram-color:#E4405F
$github-color:#FBA023
$linkedin-color:#1877F2
$html-color:#e44d26
$css-color:#2062af
$js-color:#f9b134
$node-color: #7cb73f
$git-color:#e84d31
$bootstrap-color:#8411f6
$sass-color:#c76494
$text-shadow: 0 4px 4px rgba(0, 0, 0, .75)
$weight-text: 600
$size-logo: 45px
$font-basic: 25px
$font-desc: 15px

/* como chamar uma variable = background-color: variables.$bg-color */