#habilidades {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #231816;
}

.container__habilidades {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 80px;
}

.container__habilidades .titulo__habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo__habilidades .segundaLinha {
    width: 550px;
    margin: 25px 0;
    border: 2px solid #4f4645;
}

.minhas__habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidade {
    margin: 15px 25px;
    background-color: none;
}

.habilidade .card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 160px;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #231816;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35), -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.habilidade .card .html {
    font-size: 20px;
    color: #e44d26;
}

.habilidade .card .css {
    font-size: 20px;
    color: #1d538e;
}

.habilidade .card .sass {
    font-size: 20px;
    color: #c66493;
}

.habilidade .card .boot {
    font-size: 20px;
    color: #8411f6;
}

.habilidade .card .js {
    font-size: 20px;
    color: #f9b134;
}

.habilidade .card .ts {
    font-size: 26px;
    color: #2f72bc;
}

.habilidade .card .nod {
    font-size: 20px;
    color: #7cb73f;
}

.habilidade .card .ang {
    font-size: 20px;
    color: #d6002f;
}

.habilidade .card .git {
    font-size: 20px;
    color: #e84d31;
}

.habilidade .card .github {
    font-size: 20px;
    color: #39d353;
}

@media (max-width: 625px) {
    #habilidades {
        height: 180vh;
    }

    .container__habilidades {
        margin: 0;
    }

    .minhas__habilidades {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .titulo__habilidades span {
        width: 312px;
        text-align: center;
    }

    .titulo__habilidades .segundaLinha {
        width: 340px;
    }
}