header {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #231816;
    border-bottom: 1px solid #dec087;
    z-index: 1000;
}

.container__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.container__navbar .logo {
    animation: logo 2s ease forwards;
}

.container__navbar .logo a{
    font-size: 25px;
}

.container__navbar .logo a span{
    font-size: 25px;
}

.container__navbar ul {
    display: flex;
    gap: 20px;
    animation: cabecalho 2s ease forwards;    
}

.container__navbar ul a{
    font-size: 20px;
    transition: 0.10s ease;
}

.container__navbar ul a:hover{
    font-size: 20.2px;
    color: #4f4645;
    border-bottom: 1px solid #dec087;
}

.responsive__itensNavBar {
    animation: itens 2s ease forwards;
} 

.container__navbar .main__lingua {
    display: flex;
    gap: 20px;
}

.container__navbar .main__lingua a {
    font-size: 20px;
    transition: 0.10s ease;
}

.container__navbar .main__lingua a:hover {
    font-size: 20.2px;
    color: #4f4645;
    border-bottom: 1px solid #dec087;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.hamburguer .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #dec087;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 850px) {
    .container__navbar {
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
    }

    .responsive__itensNavBar {
        display: flex;
        gap: 20px;
        margin-top: 5px;
    }

    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .container__navbar ul {
        position: fixed;
        left: -100%;
        top: 55px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #231816;
        border-bottom: 2px solid #dec087;
        text-align: center;
        flex-direction: column;
        width: 100%;
        animation: none;
        transition: 0.3s;
    }

    .container__navbar ul li {
        margin: 20px 0;
    }

    .container__navbar ul.active {
        left: 0;
    }
}

@keyframes logo {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes cabecalho {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes itens {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}