#projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    padding: 0 35px;
    background-color: #231816;
}

.container__projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 100px;
    margin-top: 20px;
}

.container__projetos .titulo__projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__projetos .titulo__projetos h1 {
    margin-bottom: 20px;
}

.titulo__projetos .terceiraLinha {
    width: 250px;
    margin: 25px 0;
    border: 2px solid #4f4645;
}

.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 15px;
}

.card h2 {
    margin: 30px 0 30px;
}

.card .icons {
    display: flex;
    gap: 25px;
}

.card .icons i {
    background-color: transparent;
    color: #F8D29D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}

.icons .github__projetos i:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: #39d353;
    box-shadow: 0 0 20px #39d353;
}

.icons .deploy__projetos i:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: #4f4645;
    box-shadow: 0 0 20px #4f4645;
}

.slide__container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 40px;
}

.slide__content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 20px;
}

.card {
    max-width: 320px;
    background-color: #152d3f;
    border-radius: 25px;
}

.image__content, .card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 14px ;
}

.image__content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #51413e;
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #51413e;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #152d3f;
}

.card__image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #152d3f;
    padding: 3px;
}

.card__image .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #51413e;
}

.nome {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265df2;
}

.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}
  
.swiper-navBtn:hover{
    color: #4070F4;
}
  
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}

.swiper-button-next{
    right: 0;
}

.swiper-button-prev{
    left: 0;
}
  
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
  
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

@media (max-width: 800px) {
    .slide__content{
      margin: 0 10px;
      width: 109%;
      overflow: hidden;
    }
    .swiper-navBtn{
      display: none;
    }
}