@use 'variaveis'
@use 'mixins'

* 
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth
    font-family: 'Poppins', sans-serif


body 
    background-color: variaveis.$background-color


/* início cabeçalho */
.container__navbar
    background-color: variaveis.$background-navbar
    border-bottom: 1px solid variaveis.$ft-color
    position: fixed
    width: 100%
    top: 0
    right: 0
    z-index: 1000
    display: flex
    align-items: center
    justify-content: space-between
    padding: 28px 12%
    transition: all .50s ease

    .logo
        display: flex
        align-items: center
        
        i
            color: variaveis.$strong-color
            font-size: 28px
            margin-right: 3px

        span
            color: variaveis.$strong-color
            font-size: 1.7rem
            font-weight: 600

    
@media (max-width: 1280px)
    .container__navbar
        padding: 14px 2px
        transition: .2s

        .nav__link
            padding: 5px 0
            margin: 0px 20px

@media (min-width: 1090px)
    .nav__bar
        display: flex

        .nav__item
            list-style: none

            .nav__link
                color: variaveis.$ft-color
                text-decoration: none
                font-size: 1.1rem
                font-weight: 500
                padding: 5px 0
                margin: 0px 30px
                transition: all .50s ease

            .nav__link:hover
                color: variaveis.$cabecalho-hover
                border-bottom: 1px solid variaveis.$ft-color

            .active
                color: variaveis.$cabecalho-hover
                border-bottom: 1px solid variaveis.$ft-color

    .main__lingua
        display: flex
        align-items: center

        .link__lingua
            color: variaveis.$ft-color
            margin-right: 25px
            margin-left: 10px
            font-size: 1.1rem
            font-weight: 500
            text-decoration: none
            transition: all .50s ease
        
        .link__lingua:hover
            color: variaveis.$cabecalho-hover
            border-bottom: 1px solid variaveis.$ft-color

    #menu__icon
        display: none

@media (max-width: 1090px)
    .logo
        margin-left: 10px

    .nav__bar
        background-color: variaveis.$background-navbar
        border: 1px solid variaveis.$ft-color
        position: absolute
        top: 100%
        right: -100%
        width: 270px
        height: 29vh
        display: flex
        flex-direction: column
        justify-content: flex-start
        border-radius: 10px
        transition: all .50s ease

    .nav__bar.open
        right: 0

        .nav__item
            list-style: none

            .nav__link
                color: variaveis.$ft-color
                text-decoration: none
                font-size: 1.1rem
                font-weight: 500
                display: block
                margin: 10px 0
                padding: 0px 25px
                transition: all .50s ease

        .nav__link:hover
            color: variaveis.$cabecalho-hover
            transform: translateY(5px)
    
        .active
            color: variaveis.$ft-color    
    
    .main__lingua
        display: flex
        align-items: center
        margin-right: 10px

        .link__lingua
            color: variaveis.$ft-color
            margin-right: 25px
            margin-left: 10px
            font-size: 1.1rem
            font-weight: 500
            text-decoration: none
            transition: all .50s ease
        
        .link__lingua:hover
            color: variaveis.$cabecalho-hover
            border-bottom: 1px solid variaveis.$ft-color

    #menu__icon
        display: block
        color: variaveis.$ft-color
        font-size: 35px
        cursor: pointer
        z-index: 10001
/* fim cabeçalho */
    
/* começo da página inícial*/
#inicio
    background-color: variaveis.$background-color
    
.container__inicio 
    @include mixins.around
    min-height: 100vh
    width: 100%

.apresentacao__inicio
    display: flex
    justify-content: center
    flex-direction: column
    margin-top: 50px

    .apresentacao__animacao
        animation: apresentacao 1s ease forwards
            
    .text__inicio
        font-size: 32px
        font-weight: 700
        color: variaveis.$ft-color
        text-shadow: variaveis.$text-shadow
        margin-bottom: 20px
    
    .text__titulo
        @include mixins.titulo
    
    .animacao__letra
        display: grid
        place-items: center
        box-sizing: border-box

        .typing-demo 
            width: 24ch
            animation: typing 2s steps(22), blink .5s step-end infinite alternate
            white-space: nowrap
            overflow: hidden
            border-right: 3px solid
            font-family: monospace
            font-size: 2em
            font-weight: 200
            color: #51413e
                
        p    
            color: variaveis.$strong-color
            text-shadow: variaveis.$text-shadow
    
    .botao__animacao
        margin-top: 30px
        animation: botao 1s ease forwards

        .button
            text-decoration: none

            p
                font-size: variaveis.$font-desc
                color: variaveis.$ft-color
                background-color: variaveis.$background-color
                border: 3px solid variaveis.$background-navbar
                letter-spacing: 4px
                text-align: center
                padding: 15px
                font-weight: 600
                border-radius: 15px
                width: 250px
                cursor: pointer
                text-decoration: none
                transition: 0.4s ease
    
            p:hover
                text-shadow: variaveis.$text-shadow
                background-color: variaveis.$background-hover
                border: 3px solid variaveis.$background-navbar
                letter-spacing: 5px
    
    .icones
        text-align: center
        width: 250px
    
        .link__contato
            cursor: pointer
            text-decoration: none
            opacity: 0
            animation: icon 5s ease forwards
            animation-delay: calc( .2s * var(--i))                

            i
                @include mixins.icons

        .linkedin i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$linkedin-color
            box-shadow: 0 0 20px variaveis.$linkedin-color
            color: variaveis.$ft-color
        
        .github i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$github-color
            box-shadow: 0 0 20px variaveis.$github-color
            color: variaveis.$ft-color
        
        .instagram i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$instagram-color
            box-shadow: 0 0 20px variaveis.$instagram-color
            color: variaveis.$ft-color
    

.container__animacao
    animation: zoomIn 1s ease forwards
    animation-delay: 2s
    opacity: 0

    .animacao
        @include mixins.center
        
        .loader1
            @include mixins.center
            border: 20px solid transparent
            box-shadow: 0 -5px 6px rgba(255, 255, 255,0.1), inset 0 5px 4px rgba(0, 0, 0,0.35 ) 
            border-radius: 50%
            border-top: 16px solid #561C1A
            width: 400px
            height: 400px
            transform: rotate(30deg)
            animation: rotate01 5.0s linear infinite

            .loader2
                @include mixins.center
                border: 20px solid transparent
                box-shadow: 0 -5px 6px rgba(255, 255, 255,0.1), inset 0 5px 4px rgba(0, 0, 0,0.35 ) 
                border-radius: 50%
                border-top: 16px solid #561C1A
                width: 300px
                height: 300px
                transform: rotate(200deg)
                animation: rotate02 4.0s linear infinite

                .loader3
                    @include mixins.center
                    border: 20px solid transparent
                    box-shadow: 0 -5px 6px rgba(255, 255, 255,0.1), inset 0 5px 4px rgba(0, 0, 0,0.35 ) 
                    border-radius: 50%
                    border-top: 16px solid #561C1A
                    width: 200px
                    height: 200px
                    transform: rotate(30deg)
                    animation: rotate03 5.0s linear infinite

                    .loader4
                        @include mixins.center
                        border: 20px solid transparent
                        box-shadow: 0 -5px 6px rgba(255, 255, 255,0.1), inset 0 5px 4px rgba(0, 0, 0,0.35 ) 
                        border-radius: 50%
                        border-top: 16px solid #561C1A
                        width: 100px
                        height: 100px
                        transform: rotate(90deg)
                        animation: rotate04 3.0s linear infinite

        .animacao01
            @include mixins.center
            /* position: absolute */
            width: 400px
            height: 400px
            border-radius: 50%
            border: 15px inset
            border-top-color: black
            border-left-color: black
            border-bottom-color: transparent
            border-right-color: transparent
            transform: rotate(30deg)
            animation: rotate01 5.0s linear infinite

            .animacao02
                @include mixins.center
                /* position: absolute */
                width: 300px
                height: 300px
                border-radius: 50%
                border: 15px outset
                border-bottom-color: black
                border-right-color: black
                border-top-color: transparent
                border-left-color: transparent
                transform: rotate(200deg)
                animation: rotate02 4.0s linear infinite

                .animacao03
                    @include mixins.center
                    /* position: absolute */
                    width: 200px
                    height: 200px
                    border-radius: 50%
                    border: 15px inset
                    border-top-color: black
                    border-left-color: black
                    border-bottom-color: transparent
                    border-right-color: transparent
                    transform: rotate(-180deg)
                    animation: rotate03 5.0s linear infinite

                    .animacao04
                        @include mixins.center
                        /* position: absolute */
                        width: 100px
                        height: 100pxvoc 
                        border-radius: 50%
                        border: 15px outset
                        border-bottom-color: black
                        border-right-color: black
                        border-top-color: transparent
                        border-left-color: transparent
                        transform: rotate(90deg)
                        animation: rotate04 3.0s linear infinite

@media (max-width: 1280px)
    .inicio
        @include mixins.center

        .apresentacao__animacao
            @include mixins.center
            flex-direction: column
    
        .botao__animacao
            @include mixins.center

        .icones
            @include mixins.center
            width: 447px

        .container__animacao
            display: none

@media (max-width: 480px)
    .inicio
        @include mixins.center

        .apresentacao__animacao
            @include mixins.center
            flex-direction: column

        .apresentacao__animacao .text__inicio
            font-size: 20px

        .apresentacao__animacao .text__titulo
            font-size: 30px

        .animacao__letra
            width: 100%
            text-align: center

        .animacao__letra p
            font-size: 20px

        .animacao__letra .typing-demo 
            width: 15ch
            height: 30px
            animation: typing 2s steps(22), blink .5s step-end infinite alternate
            white-space: nowrap
            overflow: hidden
            border-right: 3px solid
            font-family: monospace
            font-size: 2em
            font-weight: 200
            color: #51413e

        .botao__animacao
            @include mixins.center

        .icones
            @include mixins.center
            width: 100%
            margin-left: 10px

        .container__animacao
            display: none
/* fim da página inícial*/            
.wave 
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0

.wave svg 
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 120px

.wave 
    fill: variaveis.$background-color-paginas

/*Início do sobre*/
#sobre
    background: variaveis.$background-color-paginas

.container__sobre
    @include mixins.around 
    height: 90vh
    
    .foto
        border: 8px solid variaveis.$background-color-paginas
        margin-top: 180px
        padding: 30px
        border-radius: 20px
        box-shadow: -5px -5px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0, 0, 0,0.35 ), inset -5px -5px 15px rgba(255, 255, 255,0.1), inset 5px 5px 15px rgba(0, 0, 0,0.35 )
        animation: zoomIn 4s ease forwards

        img
            max-width: 320px
            border-radius: 20px
            animation: zoomIn 2s ease forwards
            animation-delay: 2.5s
            opacity: 0
            
    .descricao
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: column
        width: 500px
        margin-top: 180px

        h1
            @include mixins.titulo
            margin-right: 42%
            margin-bottom: 0

        h2
            color: variaveis.$strong-color
            font-size: 15px
            line-height: 1.5
            letter-spacing: 0.02rem
            margin-right: 55%
            
        hr
            @include mixins.linha
            margin-bottom: 20px

        p
            color: variaveis.$strong-color
            font-size: 15px
            line-height: 1.5
            letter-spacing: 0.02rem
            animation: descricao 1s ease forwards
            opacity: 0

@media (max-width: 1280px)
    .sobre
        height: 1283px

        .container__sobre
            @include mixins.center
            flex-direction: column
           
            .foto
                margin-top: 50%

            .descricao
                margin-top: 80px

                h1
                    text-align: center
                    width: 380px
                    margin: 0

                h2
                    text-align: center
                    width: 380px
                    margin: 0

@media (max-width: 480px)
    .container__sobre
        height: 85%

    .container__sobre .foto
        @include mixins.center
        width: 340px
        height: 386px    

    .container__sobre img
        width: 243px

    .container__sobre .descricao p
        width: 400px
        font-size: 14px
/*Fim do sobre*/

/*início das abilidades*/
#habilidade
    background-color: variaveis.$background-color-paginas

.container__habilidades
    @include mixins.column
    height: 100vh
    margin-left: 10%
    width: 1032px

    .titulos
        margin-bottom: 20px

        h1
            @include mixins.titulo

        h2
            color: variaveis.$strong-color
            font-size: 15px
            line-height: 1.5
            letter-spacing: 0.02rem
        
    hr
        @include mixins.linha
        width: 80%
        margin-top: 15px

    .container__cards
        display: inline-block
        display: grid
        grid-column-gap: 1rem
        grid-row-gap: 1rem
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr))
        animation: slide-cards 2s ease forwards
        opacity: 0
        margin-left: 10%
        
        .cards
            display: flex

            .habilidade__card
                background-color: variaveis.$background-hover
                border: 2px solid variaveis.$background-color-paginas
                display: flex
                align-items: center
                gap: 10px
                width: 180px
                border-radius: 10px
                text-align: center
                box-shadow: -5px -5px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0, 0, 0,0.35 )

                p
                    color: variaveis.$strong-color
                    margin-top: 15px
                    font-weight: 500

                .html
                    @include mixins.logo-habilidade
                    color: variaveis.$html-color            

                .css
                    color: variaveis.$css-color
                    font-size: 25px
                    margin-left: 25px    

                .js
                    color: variaveis.$js-color
                    font-size: 25px
                    margin-left: 25px    

                .node
                    color: variaveis.$node-color
                    font-size: 25px
                    margin-left: 25px    
                
                .sass
                    color: variaveis.$sass-color
                    font-size: 25px
                    margin-left: 25px    
                
                .boot
                    color: variaveis.$bootstrap-color
                    font-size: 25px
                    margin-left: 25px    
                
                .git
                    color: variaveis.$git-color
                    font-size: 25px
                    margin-left: 25px    

                .github
                    color: variaveis.$github-color
                    font-size: 25px
                    margin-left: 25px

@media (max-width: 480px)
    .habilidades .container__habilidades
        height: 100%
        width: 100%

    .habilidades .container__habilidades h1
        font-size: 30px

    .habilidades .container__habilidades h2
        font-size: 14px
        text-align: center
        width: 300px
        margin: auto

    .habilidades .container__habilidades .linha__habilidades
        margin: auto
        width: 100%
        margin-bottom: 40px

    .habilidades .container__habilidades .container__cards
        width: 109%
        margin: 0
    
    .habilidades .container__habilidades .container__cards .cards
        width: 155px

@media (max-width: 1280px)
    .container__habilidades
        height: 50vh
        margin: 0
    .titulos
        text-align: center  
        width: 118%

    .linha__habilidades
        margin-left: 181px   

    .container__cards
        width: 100%  

         
/*fim das abilidades*/

/*início dos meus projetos*/
#projetos
    background-color: variaveis.$background-color-paginas

.container__projetos
    height: 280vh
    margin-left: 10%

    .titulo
        margin-bottom: 20px

        h1
            @include mixins.titulo

        p
            color: variaveis.$strong-color
            font-size: 15px
            line-height: 1.5
            letter-spacing: 0.02rem
    hr
        @include mixins.linha
        width: 50%

    .container__projeto
        display: grid
        grid-column-gap: 5rem
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr))
        margin-right: 20%

        .projeto
            @include mixins.center
            @include mixins.projeto
            margin-top: 0 !important

            .box
                @include mixins.center
                @include mixins.box-projetos
            
            .background-01
                @include mixins.projetos-fotos
                background-image: url(../img/wheatherapp.png)
                
            .background-02
                @include mixins.projetos-fotos
                background-image: url(../img/calculadora.png)
            
            .background-03
                @include mixins.projetos-fotos
                background-image: url(../img/crud.png)
            
            .background-04
                @include mixins.projetos-fotos
                background-image: url(../img/loginpage.png)
            
            .background-05
                @include mixins.projetos-fotos
                background-image: url(../img/landingpage01.png)
            
            .background-06
                @include mixins.projetos-fotos
                background-image: url(../img/landingpage02.png)
            
            .background-07
                @include mixins.projetos-fotos
                background-image: url(../img/webpage01.png)
            
            .background-08
                @include mixins.projetos-fotos
                background-image: url(../img/webpage02.png)
            
            .background-09
                @include mixins.projetos-fotos
                background-image: url(../img/frontendmentor.png)
            
            .background-10
                @include mixins.projetos-fotos
                background-image: url(../img/portifolio.png)
            
            .descritivo
                @include mixins.center
                @include mixins.fundo-descritivo
            
            .descritivo:hover
                opacity: 1
                
                .link
                    @include mixins.link
                    
                    h2
                        @include mixins.titulo-projeto
                    
                    .iconslink
                        @include mixins.center
                        gap: 30px
                        width: 250px
                    
                        .linkgithub
                            @include mixins.linkprojeto

                        .linkgithub:hover
                            @include mixins.linkprojeto-hover

                        .linkdeploy
                            @include mixins.linkprojeto

                        .linkdeploy:hover
                            @include mixins.linkdeploy-hover
            
/*fim dos meus projetos*/

footer
    scroll-margin-top: 100px
    background-color: #000

.container__footer
    @include mixins.center
    flex-direction: column
    height: 20vh
    
    p
        color: #fff

/* KEYFRAMES ANIMATION */

@keyframes logo
    0%
        transform: translateX(-100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1
     
@keyframes cabecalho
    0%
        transform: translateX(100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1

@keyframes apresentacao
    0%
        transform: translateY(-100px)
        opacity: 0
            
    100%
        transform: translateY(0)
         opacity: 1

@keyframes botao
    0%
        transform: translateY(-100px)
        opacity: 0
            
    100%
        transform: translateY(0)
         opacity: 1


@keyframes typing 
    from 
        width: 0
                
    
@keyframes blink 
    50% 
         border-color: transparent

@keyframes icon
    0%
        transform: translateY(100px)
        opacity: 0
                
    100%
        transform: translateY(0)
        opacity: 1

@keyframes zoomIn
    from
        opacity: 0

    to
        opacity: 1

@keyframes foto
    0%
        transform: translateX(-100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1
     
@keyframes descricao
    0%
        transform: translateX(100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1

@keyframes rotate01
    from 
        transform: rotateZ(0deg)
    
    to 
        transform: rotateZ(360deg)

@keyframes rotate02
    from 
        transform: rotateZ(0deg)
    
    to 
        transform: rotateZ(-360deg)

@keyframes rotate03
    from 
        transform: rotateZ(0deg)
    
    to 
        transform: rotateZ(360deg)

@keyframes rotate04
    from 
        transform: rotateZ(0deg)
    
    to 
        transform: rotateZ(-360deg)

@keyframes slide-cards
    0%
        transform: translateY(100px)
        opacity: 0
    
    100%
        transform: translateY(0)
        opacity: 1


.container
    display: flex
    align-items: center
    justify-content: center
    height: 100vh

    .bordateste    
        display: flex
        align-items: center
        justify-content: center
        width: 450px
        height: 450px
        border: 2px solid #000
        border-radius: 15px

        .escritateste
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            width: 450px
            height: 450px
            opacity: 0

        .escritateste:hover
            opacity: 1