@use 'variaveis'
@use 'mixins'

* 
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth


body 
    background-color: variaveis.$background-color


/* início cabeçalho */
.container__cabecalho
    @include mixins.around
    width: 100%
    left: 0
    top: 0
    z-index: 1
    border-right: none
    background: rgba(196, 196, 196, 0.11)
    backdrop-filter: blur(10px)
    border-bottom: solid 1px rgba(255, 255, 255, 0.452)

.container__logo 
    display: flex
    font-size: 25px
    padding: 15px 0
    opacity: 0
    animation: logo 1s ease forwards 

    i 
        margin-right: 5px
        color: variaveis.$strong-color
    p
        color: variaveis.$strong-color
@keyframes logo
    0%
        transform: translateX(-100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1
        

.lista__cabecalho 
    display: flex
    opacity: 0
    animation: cabecalho 1s ease forwards

    .item__cabecalho 
        list-style: none

    .link__cabecalho
        color: variaveis.$strong-color
        font-weight: 500
        font-size: 18px
        margin-left:35px
        text-decoration: none
        transition: .3s

    .link__cabecalho:hover/* , .link__cabecalho.active */
        color: variaveis.$cabecalho-hover

@keyframes cabecalho
    0%
        transform: translateX(100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1
/* fim cabeçalho */

/* começo da página inícial*/
#inicio 
    background-image: linear-gradient(180deg, #4d10b0, #6217c1, #771fd2, #8b27e4)
    
.container__inicio 
    @include mixins.around
    min-height: 90vh
    width: 100%

.apresentacao__inicio
    display: flex
    justify-content: center
    flex-direction: column
    margin-bottom: 10%
    margin-right: 24px

    .apresentacao__animacao
        animation: teste 2s linear
    
    @keyframes teste
        0% 
            left: -25%
            opacity: 0
            
        100% 
            top: 0
            leftt: 0
            opacity: 1
            

    .text__inicio
        font-size: 32px
        font-weight: 700
        color: variaveis.$ft-color
        text-shadow: variaveis.$text-shadow
        margin-bottom: 20px
    
    .text__titulo
        @include mixins.titulo
    
    .animacao__letra
        display: grid
        place-items: center

        .typing-demo 
            width: 24ch
            animation: typing 2s steps(22), blink .5s step-end infinite alternate
            white-space: nowrap
            overflow: hidden
            border-right: 3px solid
            font-family: monospace
            font-size: 2em
            font-weight: 200


            @keyframes typing 
                from 
                    width: 0
                
    
            @keyframes blink 
                50% 
                    border-color: transparent
                
        p    
            color: variaveis.$strong-color
            text-shadow: variaveis.$text-shadow
    
    .botao__animacao
        margin-top: 30px

        a
            text-decoration: none

            p
                font-size: variaveis.$font-desc
                color: variaveis.$ft-color
                background-color: variaveis.$background-color
                text-align: center
                box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2) 
                padding: 15px
                font-weight: 600
                border-radius: 15px
                width: 250px
                cursor: pointer
                text-decoration: none
                transition: 0.4s
    
            p:hover
                text-shadow: variaveis.$text-shadow
                background-color: variaveis.$background-hover
                box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2), -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2)

    .icones
        text-align: center
        margin-top: 20px
        width: 250px
    
        .link__contato
            cursor: pointer

            i
                @include mixins.icons

        .linkedin i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$background-hover
            border: 1px solid variaveis.$strong-color
            border-style: dashed
            color: #1877F2
            box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2), -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2)
        
        .github i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$background-hover
            box-shadow: 0 0 20px variaveis.$background-hover
            border: 1px solid variaveis.$strong-color
            border-style: dashed
            color: #FBA023
            box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2), -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2)
        
        .instagram i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$background-hover
            box-shadow: 0 0 20px variaveis.$background-hover
            border: 1px solid variaveis.$strong-color
            border-style: dashed
            color: #E4405F
            box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2), -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2)

.animacao__inicio
    margin-bottom: 10%

    img
        max-width: 450px


/* fim da página inícial*/            
.wave 
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0

.wave svg 
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 180px

.wave 
    fill: variaveis.$background-color

/*Início do sobre*/
#sobre
    margin-top: 50px

/*Fim do sobre*/
