@charset "UTF-8";
/* como chamar uma variable = background-color: variables.$bg-color */
/* como chamar um mixin = @include mixins.around */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #561C1A;
}

/* início cabeçalho */
.container__navbar {
  background-color: rgb(35, 24, 22);
  border-bottom: 1px solid #F8D29D;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 12%;
  transition: all 0.5s ease;
}
.container__navbar .logo {
  display: flex;
  align-items: center;
}
.container__navbar .logo i {
  color: #DEC087;
  font-size: 28px;
  margin-right: 3px;
}
.container__navbar .logo span {
  color: #DEC087;
  font-size: 1.7rem;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .container__navbar {
    padding: 14px 2px;
    transition: 0.2s;
  }
  .container__navbar .nav__link {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (min-width: 1090px) {
  .nav__bar {
    display: flex;
  }
  .nav__bar .nav__item {
    list-style: none;
  }
  .nav__bar .nav__item .nav__link {
    color: #F8D29D;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.5s ease;
  }
  .nav__bar .nav__item .nav__link:hover {
    color: #51413e;
    border-bottom: 1px solid #F8D29D;
  }
  .nav__bar .nav__item .active {
    color: #51413e;
    border-bottom: 1px solid #F8D29D;
  }
  .main__lingua {
    display: flex;
    align-items: center;
  }
  .main__lingua .link__lingua {
    color: #F8D29D;
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .main__lingua .link__lingua:hover {
    color: #51413e;
    border-bottom: 1px solid #F8D29D;
  }
  #menu__icon {
    display: none;
  }
}
@media (max-width: 1090px) {
  .logo {
    margin-left: 10px;
  }
  .nav__bar {
    background-color: rgb(35, 24, 22);
    border: 1px solid #F8D29D;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  .nav__bar.open {
    right: 0;
  }
  .nav__bar.open .nav__item {
    list-style: none;
  }
  .nav__bar.open .nav__item .nav__link {
    color: #F8D29D;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin: 10px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  .nav__bar.open .nav__link:hover {
    color: #51413e;
    transform: translateY(5px);
  }
  .nav__bar.open .active {
    color: #F8D29D;
  }
  .main__lingua {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .main__lingua .link__lingua {
    color: #F8D29D;
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .main__lingua .link__lingua:hover {
    color: #51413e;
    border-bottom: 1px solid #F8D29D;
  }
  #menu__icon {
    display: block;
    color: #F8D29D;
    font-size: 35px;
    cursor: pointer;
    z-index: 10001;
  }
}
/* fim cabeçalho */
/* começo da página inícial*/
#inicio {
  background-color: #561C1A;
}

.container__inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
}

.apresentacao__inicio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.apresentacao__inicio .apresentacao__animacao {
  animation: apresentacao 1s ease forwards;
}
.apresentacao__inicio .text__inicio {
  font-size: 32px;
  font-weight: 700;
  color: #F8D29D;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}
.apresentacao__inicio .text__titulo {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.apresentacao__inicio .animacao__letra {
  display: grid;
  place-items: center;
  box-sizing: border-box;
}
.apresentacao__inicio .animacao__letra .typing-demo {
  width: 24ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  font-weight: 200;
  color: #51413e;
}
.apresentacao__inicio .animacao__letra p {
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.apresentacao__inicio .botao__animacao {
  margin-top: 30px;
  animation: botao 1s ease forwards;
}
.apresentacao__inicio .botao__animacao .button {
  text-decoration: none;
}
.apresentacao__inicio .botao__animacao .button p {
  font-size: 15px;
  color: #F8D29D;
  background-color: #561C1A;
  border: 3px solid rgb(35, 24, 22);
  letter-spacing: 4px;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  border-radius: 15px;
  width: 250px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease;
}
.apresentacao__inicio .botao__animacao .button p:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #152d3f;
  border: 3px solid rgb(35, 24, 22);
  letter-spacing: 5px;
}
.apresentacao__inicio .icones {
  text-align: center;
  width: 250px;
}
.apresentacao__inicio .icones .link__contato {
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  animation: icon 5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.apresentacao__inicio .icones .link__contato i {
  background-color: #561C1A;
  color: #F8D29D;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  font-size: 30px;
  padding: 15px;
  margin: 30px 15px 30px 0;
  border-radius: 50%;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.apresentacao__inicio .icones .linkedin i:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #1877F2;
  box-shadow: 0 0 20px #1877F2;
  color: #F8D29D;
}
.apresentacao__inicio .icones .github i:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #FBA023;
  box-shadow: 0 0 20px #FBA023;
  color: #F8D29D;
}
.apresentacao__inicio .icones .instagram i:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #E4405F;
  box-shadow: 0 0 20px #E4405F;
  color: #F8D29D;
}

.container__animacao {
  animation: zoomIn 1s ease forwards;
  animation-delay: 2s;
  opacity: 0;
}
.container__animacao .animacao {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__animacao .animacao .loader1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 20px solid transparent;
  box-shadow: 0 -5px 6px rgba(255, 255, 255, 0.1), inset 0 5px 4px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  border-top: 16px solid #561C1A;
  width: 400px;
  height: 400px;
  transform: rotate(30deg);
  animation: rotate01 5s linear infinite;
}
.container__animacao .animacao .loader1 .loader2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 20px solid transparent;
  box-shadow: 0 -5px 6px rgba(255, 255, 255, 0.1), inset 0 5px 4px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  border-top: 16px solid #561C1A;
  width: 300px;
  height: 300px;
  transform: rotate(200deg);
  animation: rotate02 4s linear infinite;
}
.container__animacao .animacao .loader1 .loader2 .loader3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 20px solid transparent;
  box-shadow: 0 -5px 6px rgba(255, 255, 255, 0.1), inset 0 5px 4px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  border-top: 16px solid #561C1A;
  width: 200px;
  height: 200px;
  transform: rotate(30deg);
  animation: rotate03 5s linear infinite;
}
.container__animacao .animacao .loader1 .loader2 .loader3 .loader4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 20px solid transparent;
  box-shadow: 0 -5px 6px rgba(255, 255, 255, 0.1), inset 0 5px 4px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  border-top: 16px solid #561C1A;
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  animation: rotate04 3s linear infinite;
}
.container__animacao .animacao .animacao01 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute */
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 15px inset;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(30deg);
  animation: rotate01 5s linear infinite;
}
.container__animacao .animacao .animacao01 .animacao02 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 15px outset;
  border-bottom-color: black;
  border-right-color: black;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(200deg);
  animation: rotate02 4s linear infinite;
}
.container__animacao .animacao .animacao01 .animacao02 .animacao03 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px inset;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-180deg);
  animation: rotate03 5s linear infinite;
}
.container__animacao .animacao .animacao01 .animacao02 .animacao03 .animacao04 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute */
  width: 100px;
  height: 100pxvoc;
  border-radius: 50%;
  border: 15px outset;
  border-bottom-color: black;
  border-right-color: black;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(90deg);
  animation: rotate04 3s linear infinite;
}

@media (max-width: 1280px) {
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .apresentacao__animacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .inicio .botao__animacao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .icones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 447px;
  }
  .inicio .container__animacao {
    display: none;
  }
}
@media (max-width: 480px) {
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .apresentacao__animacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .inicio .apresentacao__animacao .text__inicio {
    font-size: 20px;
  }
  .inicio .apresentacao__animacao .text__titulo {
    font-size: 30px;
  }
  .inicio .animacao__letra {
    width: 100%;
    text-align: center;
  }
  .inicio .animacao__letra p {
    font-size: 20px;
  }
  .inicio .animacao__letra .typing-demo {
    width: 15ch;
    height: 30px;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    font-weight: 200;
    color: #51413e;
  }
  .inicio .botao__animacao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .icones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
  }
  .inicio .container__animacao {
    display: none;
  }
}
/* fim da página inícial*/            
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.wave {
  fill: #231816;
}

/*Início do sobre*/
#sobre {
  background: #231816;
}

.container__sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}
.container__sobre .foto {
  border: 8px solid #231816;
  margin-top: 180px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  animation: zoomIn 4s ease forwards;
}
.container__sobre .foto img {
  max-width: 320px;
  border-radius: 20px;
  animation: zoomIn 2s ease forwards;
  animation-delay: 2.5s;
  opacity: 0;
}
.container__sobre .descricao {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  margin-top: 180px;
}
.container__sobre .descricao h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  margin-right: 42%;
  margin-bottom: 0;
}
.container__sobre .descricao h2 {
  color: #DEC087;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  margin-right: 55%;
}
.container__sobre .descricao hr {
  margin-bottom: 50px;
  border: 2px solid #fff;
  width: 100%;
  opacity: 0.2;
  margin-bottom: 20px;
}
.container__sobre .descricao p {
  color: #DEC087;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  animation: descricao 1s ease forwards;
  opacity: 0;
}

@media (max-width: 1280px) {
  .sobre {
    height: 1283px;
  }
  .sobre .container__sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .sobre .container__sobre .foto {
    margin-top: 50%;
  }
  .sobre .container__sobre .descricao {
    margin-top: 80px;
  }
  .sobre .container__sobre .descricao h1 {
    text-align: center;
    width: 380px;
    margin: 0;
  }
  .sobre .container__sobre .descricao h2 {
    text-align: center;
    width: 380px;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .container__sobre {
    height: 85%;
  }
  .container__sobre .foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 386px;
  }
  .container__sobre img {
    width: 243px;
  }
  .container__sobre .descricao p {
    width: 400px;
    font-size: 14px;
  }
}
/*Fim do sobre*/
/*início das abilidades*/
#habilidade {
  background-color: #231816;
}

.container__habilidades {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-left: 10%;
  width: 1032px;
}
.container__habilidades .titulos {
  margin-bottom: 20px;
}
.container__habilidades .titulos h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.container__habilidades .titulos h2 {
  color: #DEC087;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
.container__habilidades hr {
  margin-bottom: 50px;
  border: 2px solid #fff;
  width: 100%;
  opacity: 0.2;
  width: 80%;
  margin-top: 15px;
}
.container__habilidades .container__cards {
  display: inline-block;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  animation: slide-cards 2s ease forwards;
  opacity: 0;
  margin-left: 10%;
}
.container__habilidades .container__cards .cards {
  display: flex;
}
.container__habilidades .container__cards .cards .habilidade__card {
  background-color: #152d3f;
  border: 2px solid #231816;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 180px;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.container__habilidades .container__cards .cards .habilidade__card p {
  color: #DEC087;
  margin-top: 15px;
  font-weight: 500;
}
.container__habilidades .container__cards .cards .habilidade__card .html {
  font-size: 25px;
  margin-left: 25px;
  color: #e44d26;
}
.container__habilidades .container__cards .cards .habilidade__card .css {
  color: #2062af;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .js {
  color: #f9b134;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .ang {
  color: #D6002F;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .ts {
  color: #2F72BC;
  font-size: 30px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .node {
  color: #7cb73f;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .sass {
  color: #c76494;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .boot {
  color: #8411f6;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .git {
  color: #e84d31;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .github {
  color: #FBA023;
  font-size: 25px;
  margin-left: 25px;
}

@media (max-width: 480px) {
  .habilidades .container__habilidades {
    height: 100%;
    width: 100%;
  }
  .habilidades .container__habilidades h1 {
    font-size: 30px;
  }
  .habilidades .container__habilidades h2 {
    font-size: 14px;
    text-align: center;
    width: 300px;
    margin: auto;
  }
  .habilidades .container__habilidades .linha__habilidades {
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
  }
  .habilidades .container__habilidades .container__cards {
    width: 109%;
    margin: 0;
  }
  .habilidades .container__habilidades .container__cards .cards {
    width: 155px;
  }
}
@media (max-width: 1280px) {
  .container__habilidades {
    height: 50vh;
    margin: 0;
  }
  .titulos {
    text-align: center;
    width: 118%;
  }
  .linha__habilidades {
    margin-left: 181px;
  }
  .container__cards {
    width: 100%;
  }
}
/*fim das abilidades*/
/*início dos meus projetos*/
#projetos {
  background-color: #231816;
}

.container__projetos {
  height: 280vh;
  margin-left: 10%;
}
.container__projetos .titulo {
  margin-bottom: 20px;
}
.container__projetos .titulo h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.container__projetos .titulo p {
  color: #DEC087;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
.container__projetos hr {
  margin-bottom: 50px;
  border: 2px solid #fff;
  width: 100%;
  opacity: 0.2;
  width: 50%;
}
.container__projetos .container__projeto {
  display: grid;
  grid-column-gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-right: 20%;
}
.container__projetos .container__projeto .projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #231816;
  border: 4px solid #231816;
  width: 300px;
  height: 320px;
  margin-bottom: 100px;
  border-radius: 20px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  margin-top: 0 !important;
}
.container__projetos .container__projeto .projeto .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.container__projetos .container__projeto .projeto .background-01 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/wheatherapp.png);
}
.container__projetos .container__projeto .projeto .background-02 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/calculadora.png);
}
.container__projetos .container__projeto .projeto .background-03 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/crud.png);
}
.container__projetos .container__projeto .projeto .background-04 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/loginpage.png);
}
.container__projetos .container__projeto .projeto .background-05 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/landingpage01.png);
}
.container__projetos .container__projeto .projeto .background-06 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/landingpage02.png);
}
.container__projetos .container__projeto .projeto .background-07 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/webpage01.png);
}
.container__projetos .container__projeto .projeto .background-08 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/webpage02.png);
}
.container__projetos .container__projeto .projeto .background-09 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/frontendmentor.png);
}
.container__projetos .container__projeto .projeto .background-10 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/portifolio.png);
}
.container__projetos .container__projeto .projeto .descritivo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 200px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: 0.5s ease;
}
.container__projetos .container__projeto .projeto .descritivo:hover {
  opacity: 1;
}
.container__projetos .container__projeto .projeto .descritivo:hover .link {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.container__projetos .container__projeto .projeto .descritivo:hover .link h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 25px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.container__projetos .container__projeto .projeto .descritivo:hover .link .iconslink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 250px;
}
.container__projetos .container__projeto .projeto .descritivo:hover .link .iconslink .linkgithub {
  color: #DEC087;
  text-decoration: none;
  font-size: 50px;
  margin-top: 10px;
  transition: 0.5s ease;
}
.container__projetos .container__projeto .projeto .descritivo:hover .link .iconslink .linkgithub:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  color: #FBA023;
}
.container__projetos .container__projeto .projeto .descritivo:hover .link .iconslink .linkdeploy {
  color: #DEC087;
  text-decoration: none;
  font-size: 50px;
  margin-top: 10px;
  transition: 0.5s ease;
}
.container__projetos .container__projeto .projeto .descritivo:hover .link .iconslink .linkdeploy:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  color: #2E4755;
}

/*fim dos meus projetos*/
footer {
  scroll-margin-top: 100px;
  background-color: #000;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
}
.container__footer p {
  color: #fff;
}

/* KEYFRAMES ANIMATION */
@keyframes logo {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes cabecalho {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes apresentacao {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform-opacity: 1;
  }
}
@keyframes botao {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform-opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes icon {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes foto {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes descricao {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotate01 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate02 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
@keyframes rotate03 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate04 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
@keyframes slide-cards {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container .bordateste {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  border: 2px solid #000;
  border-radius: 15px;
}
.container .bordateste .escritateste {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 450px;
  opacity: 0;
}
.container .bordateste .escritateste:hover {
  opacity: 1;
}/*# sourceMappingURL=stayle.css.map */