@use 'variaveis'
@use 'mixins'

* 
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth


body 
    background-color: variaveis.$background-color


/* início cabeçalho */
.container__cabecalho
    @include mixins.around
    background-color: variaveis.$background-navbar
    border-bottom: 3px solid variaveis.$cabecalho-hover
    width: 100%
    left: 0
    top: 0
    z-index: 1
    border-right: none
    position: fixed

.container__logo 
    display: flex
    font-size: 25px
    padding: 15px 0
    opacity: 0
    animation: logo 1s ease forwards 

    i 
        color: variaveis.$strong-color
        margin-right: 5px
        margin-top: 8px
    p
        color: variaveis.$strong-color

.lista__cabecalho 
    display: flex
    opacity: 0
    animation: cabecalho 1s ease forwards

    .item__cabecalho 
        list-style: none

    .link__cabecalho
        color: variaveis.$strong-color
        font-weight: 500
        font-size: 18px
        margin-left:35px
        text-decoration: none
        transition: .3s

    .link__cabecalho:hover/* , .link__cabecalho.active */
        color: variaveis.$cabecalho-hover
/* fim cabeçalho */

/* começo da página inícial*/
#inicio
    background-image: linear-gradient(180deg, #31564e, #436858, #557a63, #678d6d)
    /* background-image: linear-gradient(180deg, #405743, #c28338, #51413e, #152d3f) */
    
.container__inicio 
    @include mixins.around
    min-height: 100vh
    width: 100%

.apresentacao__inicio
    display: flex
    justify-content: center
    flex-direction: column
    margin-right: 24px

    .apresentacao__animacao
        animation: apresentacao 1s ease forwards
            
    .text__inicio
        font-size: 32px
        font-weight: 700
        color: variaveis.$ft-color
        text-shadow: variaveis.$text-shadow
        margin-bottom: 20px
    
    .text__titulo
        @include mixins.titulo
    
    .animacao__letra
        display: grid
        place-items: center

        .typing-demo 
            width: 24ch
            animation: typing 2s steps(22), blink .5s step-end infinite alternate
            white-space: nowrap
            overflow: hidden
            border-right: 3px solid
            font-family: monospace
            font-size: 2em
            font-weight: 200
            color: #51413e
                
        p    
            color: variaveis.$strong-color
            text-shadow: variaveis.$text-shadow
    
    .botao__animacao
        margin-top: 30px
        animation: botao 1s ease forwards

        a
            text-decoration: none

            p
                font-size: variaveis.$font-desc
                color: variaveis.$ft-color
                background-color: variaveis.$background-color
                text-align: center
                box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2) 
                padding: 15px
                font-weight: 600
                border-radius: 15px
                width: 250px
                cursor: pointer
                text-decoration: none
                transition: 0.4s
    
            p:hover
                text-shadow: variaveis.$text-shadow
                background-color: variaveis.$background-hover
                box-shadow: 0 0 20px variaveis.$background-hover 

    .icones
        text-align: center
        margin-top: 20px
        width: 250px
    
        .link__contato
            cursor: pointer
            text-decoration: none
            opacity: 0
            animation: icon 5s ease forwards
            animation-delay: calc( .2s * var(--i))                

            i
                @include mixins.icons

        .linkedin i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$background-hover
            box-shadow: 0 0 20px variaveis.$linkedin-color
            color: variaveis.$linkedin-color
        
        .github i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$background-hover
            box-shadow: 0 0 20px variaveis.$github-color
            color: variaveis.$github-color
        
        .instagram i:hover
            text-shadow: variaveis.$text-shadow
            background-color: variaveis.$background-hover
            box-shadow: 0 0 20px variaveis.$instagram-color
            color: variaveis.$instagram-color

.animacao__inicio
    @include mixins.center
    gap: 20px

    .html
        @include mixins.animacao
        width: 105px
        animation: zoomIn 1s ease forwards, Floathtml 4s ease-in-out infinite
        animation-delay: 2s, 3s
        opacity: 0

        i
            text-shadow: variaveis.$text-shadow
            color: #e44d26
            font-size: 50px
            padding: 10px
            text-align: center
    
    .css
        @include mixins.animacao
        width: 105px
        animation: zoomIn 1s ease forwards, Floacss 4s ease-in-out infinite
        animation-delay: 2s, 3s
        opacity: 0

        i
            text-shadow: variaveis.$text-shadow
            color: #2062af
            font-size: 50px
            padding: 10px
            text-align: center
    
    .js
        @include mixins.animacao
        animation: zoomIn 1s ease forwards, Floajs 4s ease-in-out infinite
        animation-delay: 2s, 3s
        opacity: 0

        i
            text-shadow: variaveis.$text-shadow
            color: #f9b134
            font-size: 50px
            padding: 10px
            text-align: center
    
    .brain
        @include mixins.animacao
        animation: zoomIn 1s ease forwards, Floabrain 4s ease-in-out infinite
        animation-delay: 2s, 3s
        opacity: 0

        i
            text-shadow: variaveis.$text-shadow
            color: #152d3f
            font-size: 50px
            padding: 10px
            text-align: center

/* fim da página inícial*/            
.wave 
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0

.wave svg 
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 180px

.wave 
    fill: variaveis.$background-color

/*Início do sobre*/
#sobre
    background: variaveis.$background-color

.container__sobre
    @include mixins.around
    height: 100vh
    

    .foto
        margin-left: 10%
        padding: 40px
        border: 8px solid #405743
        border-radius: 20px
        box-shadow: -5px -5px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0, 0, 0,0.35 ), inset -5px -5px 15px rgba(255, 255, 255,0.1), inset 5px 5px 15px rgba(0, 0, 0,0.35 )
        animation: foto 1s ease forwards
        opacity: 0 

        img
            max-width: 400px
            border-radius: 20px
            
        

    .descricao
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: column
        width: 500px
        animation: descricao 1s ease forwards
        opacity: 0

        h1
            @include mixins.titulo
            margin-right: 42%
            
        hr
            @include mixins.linha

        p
            color: variaveis.$strong-color
            font-size: 15px
            line-height: 1.5
            letter-spacing: 0.02rem

/*Fim do sobre*/


/* KEYFRAMES ANIMATION */

@keyframes logo
    0%
        transform: translateX(-100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1
     
@keyframes cabecalho
    0%
        transform: translateX(100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1

@keyframes apresentacao
    0%
        transform: translateY(-100px)
        opacity: 0
            
    100%
        transform: translateY(0)
         opacity: 1

@keyframes botao
    0%
        transform: translateY(-100px)
        opacity: 0
            
    100%
        transform: translateY(0)
         opacity: 1


@keyframes typing 
    from 
        width: 0
                
    
@keyframes blink 
    50% 
         border-color: transparent

@keyframes icon
    0%
        transform: translateY(100px)
        opacity: 0
                
    100%
        transform: translateY(0)
        opacity: 1

@keyframes zoomIn
    0%
        transform: scale(0)
        opacity: 0
    
    100%
        transform: scale(1)
        opacity: 1

@keyframes Floathtml
    0%
        transform: translateY(0)    
    
    50%
        transform: translateY(-24px)
    
    100%
        transform: translateY(0)
    
    50%
        transform: translateY(24px)

@keyframes Floacss
    0%
        transform: translateY(0)    
    
    50%
        transform: translateY(24px)
    
    100%
        transform: translateY(0)
    
    50%
        transform: translateY(-24px)

@keyframes Floajs
    0%
        transform: translateY(0)    
    
    50%
        transform: translateY(-24px)
    
    100%
        transform: translateY(0)
    
    50%
        transform: translateY(24px)

@keyframes Floabrain
    0%
        transform: translateY(0)    
    
    50%
        transform: translateY(24px)
    
    100%
        transform: translateY(0)
    
    50%
        transform: translateY(-24px)

@keyframes foto
    0%
        transform: translateX(-100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1
     
@keyframes descricao
    0%
        transform: translateX(100px)
        opacity: 0
    
    100%
        transform: translateX(0)
        opacity: 1