@charset "UTF-8";
/* como chamar uma variable = background-color: variables.$bg-color */
/* como chamar um mixin = @include mixins.around */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #561C1A;
}

/* início cabeçalho */
.container__cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(35, 24, 22);
  border-bottom: 3px solid #51413e;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  border-right: none;
  position: fixed;
}

.container__logo {
  display: flex;
  font-size: 25px;
  padding: 15px 0;
  opacity: 0;
  animation: logo 1s ease forwards;
}
.container__logo i {
  color: #DEC087;
  margin-right: 5px;
  margin-top: 8px;
}
.container__logo p {
  color: #DEC087;
}

.lista__cabecalho {
  display: flex;
  opacity: 0;
  animation: cabecalho 1s ease forwards;
}
.lista__cabecalho .item__cabecalho {
  list-style: none;
}
.lista__cabecalho .link__cabecalho {
  color: #DEC087;
  font-weight: 500;
  font-size: 18px;
  margin-left: 35px;
  text-decoration: none;
  transition: 0.3s;
}
.lista__cabecalho .link__cabecalho:hover {
  color: #51413e;
  border-bottom: 2px solid #F8D29D;
}

/* fim cabeçalho */
/* começo da página inícial*/
#inicio {
  background-color: #561C1A;
}

.container__inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
}

.apresentacao__inicio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 24px;
}
.apresentacao__inicio .apresentacao__animacao {
  animation: apresentacao 1s ease forwards;
}
.apresentacao__inicio .text__inicio {
  font-size: 32px;
  font-weight: 700;
  color: #F8D29D;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}
.apresentacao__inicio .text__titulo {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.apresentacao__inicio .animacao__letra {
  display: grid;
  place-items: center;
  box-sizing: border-box;
}
.apresentacao__inicio .animacao__letra .typing-demo {
  width: 24ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  font-weight: 200;
  color: #51413e;
}
.apresentacao__inicio .animacao__letra p {
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.apresentacao__inicio .botao__animacao {
  margin-top: 30px;
  animation: botao 1s ease forwards;
}
.apresentacao__inicio .botao__animacao .button {
  text-decoration: none;
}
.apresentacao__inicio .botao__animacao .button p {
  font-size: 15px;
  color: #F8D29D;
  background-color: #561C1A;
  border: 3px solid rgb(35, 24, 22);
  letter-spacing: 4px;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  border-radius: 15px;
  width: 250px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease;
}
.apresentacao__inicio .botao__animacao .button p:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #152d3f;
  border: 3px solid rgb(35, 24, 22);
  letter-spacing: 5px;
}
.apresentacao__inicio .icones {
  text-align: center;
  width: 250px;
}
.apresentacao__inicio .icones .link__contato {
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  animation: icon 5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.apresentacao__inicio .icones .link__contato i {
  background-color: #561C1A;
  color: #F8D29D;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  font-size: 30px;
  padding: 15px;
  margin: 30px 15px 30px 0;
  border-radius: 50%;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.apresentacao__inicio .icones .linkedin i:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #1877F2;
  box-shadow: 0 0 20px #1877F2;
  color: #F8D29D;
}
.apresentacao__inicio .icones .github i:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #FBA023;
  box-shadow: 0 0 20px #FBA023;
  color: #F8D29D;
}
.apresentacao__inicio .icones .instagram i:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  background-color: #E4405F;
  box-shadow: 0 0 20px #E4405F;
  color: #F8D29D;
}

.animacao__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.animacao__inicio .html {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
  background-color: #561C1A;
  border-radius: 180%;
  padding: 20px;
  text-align: center;
  width: 105px;
  animation: zoomIn 1s ease forwards, Floathtml 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
  opacity: 0;
}
.animacao__inicio .html i {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  color: #e44d26;
  font-size: 50px;
  padding: 10px;
  text-align: center;
}
.animacao__inicio .css {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
  background-color: #561C1A;
  border-radius: 180%;
  padding: 20px;
  text-align: center;
  width: 105px;
  animation: zoomIn 1s ease forwards, Floacss 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
  opacity: 0;
}
.animacao__inicio .css i {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  color: #2062af;
  font-size: 50px;
  padding: 10px;
  text-align: center;
}
.animacao__inicio .js {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
  background-color: #561C1A;
  border-radius: 180%;
  padding: 20px;
  text-align: center;
  animation: zoomIn 1s ease forwards, Floajs 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
  opacity: 0;
}
.animacao__inicio .js i {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  color: #f9b134;
  font-size: 50px;
  padding: 10px;
  text-align: center;
}
.animacao__inicio .brain {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
  background-color: #561C1A;
  border-radius: 180%;
  padding: 20px;
  text-align: center;
  animation: zoomIn 1s ease forwards, Floabrain 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
  opacity: 0;
}
.animacao__inicio .brain i {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  color: #152d3f;
  font-size: 50px;
  padding: 10px;
  text-align: center;
}

.animacao01 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 78px;
  right: 130px;
  border-radius: 50%;
  border: 25px inset;
  border-top-color: black;
  border-left-color: black;
  /* border-bottom-color: transparent */
  /* border-right-color: transparent */
  transform: rotate(30deg);
  animation: rotate01 10s linear infinite;
}

.animacao02 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 118px;
  right: 179px;
  border-radius: 50%;
  border: 25px outset;
  border-bottom-color: black;
  border-right-color: black;
  /* border-top-color: transparent */
  /* border-left-color: transparent */
  transform: rotate(200deg);
  animation: rotate02 4s linear infinite;
}

.animacao03 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 165px;
  right: 228px;
  border-radius: 50%;
  border: 25px inset;
  border-top-color: black;
  border-left-color: black;
  /* border-bottom-color: transparent */
  /* border-right-color: transparent */
  transform: rotate(-180deg);
  animation: rotate03 4s linear infinite;
}

.animacao04 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 219px;
  right: 275px;
  border-radius: 50%;
  border: 25px outset;
  border-bottom-color: black;
  border-right-color: black;
  /* border-top-color: transparent */
  /* border-left-color: transparent */
  transform: rotate(90deg);
  animation: rotate04 5s linear infinite;
}

/* fim da página inícial*/            
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.wave {
  fill: #231816;
}

/*Início do sobre*/
#sobre {
  background: #231816;
}

.container__sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}
.container__sobre .foto {
  padding: 30px;
  border: 8px solid #231816;
  border-radius: 20px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  animation: foto 1s ease forwards;
  opacity: 0;
}
.container__sobre .foto img {
  max-width: 320px;
  border-radius: 20px;
}
.container__sobre .descricao {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  animation: descricao 1s ease forwards;
  opacity: 0;
}
.container__sobre .descricao h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  margin-right: 42%;
}
.container__sobre .descricao hr {
  margin-bottom: 50px;
  border: 2px solid #fff;
  width: 100%;
  opacity: 0.2;
}
.container__sobre .descricao p {
  color: #DEC087;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

/*Fim do sobre*/
/*início das abilidades*/
#habilidade {
  background-color: #561C1A;
}

.container__habilidades {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  margin-left: 10%;
  width: 946px;
}
.container__habilidades .titulos {
  margin-bottom: 20px;
}
.container__habilidades .titulos h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.container__habilidades .titulos h2 {
  color: #DEC087;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
.container__habilidades hr {
  margin-bottom: 50px;
  border: 2px solid #fff;
  width: 100%;
  opacity: 0.2;
  width: 50%;
}
.container__habilidades .container__cards {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.container__habilidades .container__cards .cards {
  display: flex;
}
.container__habilidades .container__cards .cards .habilidade__card {
  background-color: #152d3f;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 180px;
  border-radius: 10px;
  text-align: center;
}
.container__habilidades .container__cards .cards .habilidade__card p {
  color: #DEC087;
  margin-top: 15px;
  font-weight: 500;
}
.container__habilidades .container__cards .cards .habilidade__card .html {
  color: #e44d26;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .css {
  color: #2062af;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .js {
  color: #f9b134;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .sass {
  color: #c76494;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .boot {
  color: #8411f6;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .git {
  color: #e84d31;
  font-size: 25px;
  margin-left: 25px;
}
.container__habilidades .container__cards .cards .habilidade__card .github {
  color: #FBA023;
  font-size: 25px;
  margin-left: 25px;
}

/*fim das abilidades*/
/*início dos meus projetos*/
#projetos {
  background-color: #561C1A;
}

.container__projetos {
  height: 100vh;
  margin-left: 10%;
}
.container__projetos .titulo {
  margin-bottom: 20px;
}
.container__projetos .titulo h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.container__projetos .titulo p {
  color: #DEC087;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
.container__projetos hr {
  margin-bottom: 50px;
  border: 2px solid #fff;
  width: 100%;
  opacity: 0.2;
  width: 50%;
}
.container__projetos .container__projeto {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.container__projetos .container__projeto .projeto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 237px;
  height: 420px;
  background-color: #152d3f;
  border-radius: 20px;
  margin-bottom: 100px;
}
.container__projetos .container__projeto .projeto img {
  width: 237px;
  border-radius: 20px 20px 0 0;
}
.container__projetos .container__projeto .projeto .descritivo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container__projetos .container__projeto .projeto .descritivo .link {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.container__projetos .container__projeto .projeto .descritivo .link h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 25px;
  color: #DEC087;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
.container__projetos .container__projeto .projeto .descritivo .link a {
  text-decoration: none;
  font-size: 50px;
  margin-top: 10px;
  color: #DEC087;
  transition: 0.5s ease;
}
.container__projetos .container__projeto .projeto .descritivo .link a:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  color: #FBA023;
  text-align: center;
}

/*fim dos meus projetos*/
footer {
  scroll-margin-top: 100px;
  background-color: #000;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-left: 10%;
}
.container__footer p {
  color: #fff;
}

/* KEYFRAMES ANIMATION */
@keyframes logo {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes cabecalho {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes apresentacao {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform-opacity: 1;
  }
}
@keyframes botao {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform-opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes icon {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes Floathtml {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(24px);
  }
}
@keyframes Floacss {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
}
@keyframes Floajs {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(24px);
  }
}
@keyframes Floabrain {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
}
@keyframes foto {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes descricao {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotate01 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate02 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
@keyframes rotate03 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate04 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}/*# sourceMappingURL=stayle.css.map */