/* //////////GLOBAL//////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }

  main {
    min-width: 320px;
  }

  a, li, h1, p, span, h1, h2 {
    text-decoration: none;
    list-style: none;
    color:#dec087;
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  }

  h2 {
    font-size: 1.56rem;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  }

  span, p {
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  }