#footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 20vh;
    border-top: 2px solid #dec087;
    background-color: #231816;
}

.container__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.container__footer .escrita__footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.container__footer .contato__footer .wrapper {
    display: flex;
    gap: 20px;
}
  
.container__footer .contato__footer .wrapper .icon {
	position: relative;
	background: #231816;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
.container__footer .contato__footer .wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.container__footer .contato__footer .link__contato {
	color:#000;
  }
  
.container__footer .contato__footer .wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background: #ffffff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
.container__footer .contato__footer .wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
  }
  
.container__footer .contato__footer .wrapper .icon:hover span,
.container__footer .contato__footer .wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
.container__footer .contato__footer .wrapper .linkedin:hover,
.container__footer .contato__footer .wrapper .linkedin:hover .tooltip,
.container__footer .contato__footer .wrapper .linkedin:hover .tooltip::before {
	background: #1877F2;
	color: #ffffff;
  }
  
.container__footer .contato__footer .wrapper .instagram:hover,
.container__footer .contato__footer .wrapper .instagram:hover .tooltip,
.container__footer .contato__footer .wrapper .instagram:hover .tooltip::before {
	background: #E4405F;
	color: #ffffff;
  }

.container__footer .contato__footer .wrapper .whatsapp:hover,
.container__footer .contato__footer .wrapper .whatsapp:hover .tooltip,
.container__footer .contato__footer .wrapper .whatsapp:hover .tooltip::before {
	background: #13e247;
	color: #ffffff;
  }