#projetos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 35px;
    background-color: #231816;
}

.container__projetos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    margin: 0 100px;
    margin-top: 20px;
}

.container__projetos .titulo__projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__projetos .titulo__projetos h1 {
    margin-bottom: 20px;
}

.titulo__projetos .terceiraLinha {
    width: 250px;
    margin: 25px 0;
    border: 2px solid #4f4645;
}

.posicaoSwiper{
    display: flex;
    gap: 25px;
}

.posicaoSwiper :where(.img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.posicaoSwiper .cardSwiper { 
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 15px;
    width: 230px;
    height: 342px;
    border-radius: 8px;
    background-color: #152d3f;
}

.cardSwiper .img {
    background-color: #231816;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.cardSwiper .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #152d3f;
}

.cardSwiper h2 {
    margin: 30px 0 30px;
}

.cardSwiper .icons {
    display: flex;
    gap: 25px;
}

.cardSwiper .icons i {
    background-color: transparent;
    color: #F8D29D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}

.icons .github__projetos i:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: #39d353;
    box-shadow: 0 0 20px #39d353;
}

.icons .deploy__projetos i:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: #4f4645;
    box-shadow: 0 0 20px #4f4645;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
        width: 320px;
    }
}
