#projetos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding: 0 35px;
    background-color: #231816;
}

.container__projetos {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 100px;
}

.container__projetos .titulo__projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__projetos .titulo__projetos h1 {
    margin-bottom: 20px;
}

.titulo__projetos .terceiraLinha {
    width: 250px;
    margin: 25px 0;
    border: 2px solid #4f4645;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper .icons__setas i {
    height: 50px;
    width: 50px;
    background-color: #152d3f;
    color: #F8D29D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50px;
    font-size: 1.25rem;
    transform: translateY(-50%);
}

.wrapper .icons__setas i:first-child {
    left: -22px;
    top: 180px;
}

.wrapper .icons__setas i:last-child {
    right: -22px;
    top: 180px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    width: 100%;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 15px;
    height: 342px;
    border-radius: 8px;
    background-color: #152d3f;
}

.card .img {
    background-color: #231816;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #152d3f;
}

.card h2 {
    margin: 30px 0 30px;
}

.card .icons {
    display: flex;
    gap: 25px;
}

.card .icons i {
    background-color: transparent;
    color: #F8D29D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}

.icons .github__projetos i:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: #39d353;
    box-shadow: 0 0 20px #39d353;
}

.icons .deploy__projetos i:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: #4f4645;
    box-shadow: 0 0 20px #4f4645;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
        width: 320px;
    }
}