/* //////////GLOBAL//////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #561C1A;
    overflow-x: hidden;
  }

  a, i {
    text-decoration: none;
  }

  li {
    list-style: none;
  }